{% extends 'base.html' %} 
{% load bootstrap5 %} 
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% include "menu.html" %}
    <div class="container my-5">
        <h1 class="text-center text-success display-4 ">Catálogo de Vehículos</h1>
        <img src="https://i.pinimg.com/736x/d5/02/9f/d5029f81e7d9039366bdced0781c56f4.jpg" 
        alt="Logo" width="300" height="400" class="d-block mx-auto">
    </div>

    {% include "footer.html" %}
    {% endblock content %}
</body>
</html>